[common]

ssl_verify = {{ ssl_verify_value }}
redhat =  {{ redhat_value }}

[repositories]

jboss-os = {{ jboss_os_repo }}
jboss-ocp = {{ jboss_ocp_repo }}
jboss-rhscl = {{ jboss_rhscl_repo }}
jboss-rhom = {{ jboss_rhom_repo }}