[Unit]
Description=CEKit Cacher Server
After=network.target

[Service]
Type=forking
PIDFile=/mnt/cekit-cacher-storage/data/cacher.pid
EnvironmentFile=-/mnt/cekit-cacher-storage/data/cacher.envs
ExecStart=/mnt/cekit-cacher-storage/data/cekit-cacher-service.sh start
ExecReload=/mnt/cekit-cacher-storage/data/cekit-cacher-service.sh restart
ExecStop=/mnt/cekit-cacher-storage/data/cekit-cacher-service.sh stop

[Install]
WantedBy=multi-user.target